{{!-- Source: https://startbootstrap.com/snippets/full-slider/ --}}
<div id="home-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home-carousel" data-slide-to="1"></li>
        <li data-target="#home-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <!-- First slide -->
        <div class="carousel-item active"
            style="background-image: url('https://source.unsplash.com/5IsdIqwwNP4/1920x1080')">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="display-4">Fitness Goals Tracking App</h2>
                {{!-- <p class="lead">This is a description for the first slide.</p> --}}
                <button type="button" class="btn btn-light" id="start-btn"><a href="/log">Start Here</a></button>
            </div>
        </div>
        <!-- Second slide -->
        <div class="carousel-item" style="background-image: url('https://source.unsplash.com/Lx_GDv7VA9M/1920x1080')">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="display-4">Track your progress</h2>
                <p class="lead">Using a simple app </p>
            </div>
        </div>
        <!-- Third Slide -->
        <div class="carousel-item" style="background-image: url('https://source.unsplash.com/Vn39uEkX00s/1920x1080')">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="display-4">Reach your fitness goals</h2>
                <p class="lead">And feel empowered</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#home-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#home-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
