{{> navBar}}

<div class="contact-title">
    <h1>check out these gyms!</h1>
</div>

<div class="gym-container">
    <div class="card" style="width: 25rem;">
        <iframe class="card-img-top"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3307.8909717207102!2d-118.47756288483849!3d33.99533412817448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bacf4578353b%3A0x475106ed00e39b87!2sGold&#39;s%20Gym!5e0!3m2!1sen!2sus!4v1568759112447!5m2!1sen!2sus"
            width="450" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        <div class="card-body">
            <h5 class="card-title">Gold's Gym</h5>
            <a href="https://www.goldsgym.com/veniceca/" class="btn btn-primary">Learn More</a>
            <p class="card-text">Known as the "mecca" of gyms, Gold's Gym is a must-visit if you are around Venice, CA</p>
        </div>
    </div>

    <div class="card" style="width: 25rem;">
        <iframe class="card-img-top"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13875.183558091929!2d-95.5699599!3d29.6096192!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x63d28bd2306a6c9c!2sAlphalete%20Gym!5e0!3m2!1sen!2sus!4v1568758929652!5m2!1sen!2sus"
            width="450" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        <div class="card-body">
            <h5 class="card-title">Alphalete Gym</h5>
            <a href="https://thealphaletegym.com/" class="btn btn-primary">Learn More</a>
            <p class="card-text">Founded by popular YouTube vlogger and amateur bodybuilder, Christian Guzman, Alphalete Gym is one you want to check out!</p>
        </div>
    </div>

    <div class="card" style="width: 25rem;">
        <iframe class="card-img-top"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13220.535541234229!2d-118.2237428!3d34.066082!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf1c265567f3d3cf!2sBarbell%20Brigade%20Gym!5e0!3m2!1sen!2sus!4v1568759026719!5m2!1sen!2sus"
            width="450" height="300" frameborder="0" style="border:0;" allowfullscreen="" width="450" height="300"
            frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        <div class="card-body">
            <h5 class="card-title">Barbell Brigade Gym</h5>
            <a href="https://www.barbellbrigade.com/collections/gym" class="btn btn-primary">Learn More</a>
            <p class="card-text">Opened by YouTube comedians Bart Kwan and Geovanna Antoinette of JustKiddingFilms, Barbell Brigade's minimalist-looking facility is a lifter's dream come true, with squat racks upon squat racks as far as the eye can see.</p>
        </div>
    </div>

</div>