{{> navBar}}

<div class="resources-container">
    <div class="resources-title">
        <h1>Resources</h1>
    </div>
    <div class="resources-content">
        <div class="resources-img">
            <img src="https://source.unsplash.com/5UbIqV58CW8/500x560" alt="female-squat">
        </div>
        <div class="info-container">
            <div class="scrollbar" id="links-scroll">
                <div class="resources-links">
                    <div>
                        <h4>YouTube: </h4>
                        <ul>
                            <li>
                                <a class="link" href="https://www.youtube.com/user/calgarybarbell">Calgary Barbell</a>
                            </li>
                            <li>
                                <a class="link" href="https://www.youtube.com/user/athrall7">Alan Thrall</a>
                            </li>
                            <li>
                                <a class="link" href="https://www.youtube.com/user/icecream4PRs">Jeff Nippard</a>
                            </li>
                            <li>
                                <a class="link" href="https://www.youtube.com/user/megangallagherlifts">Megsquats</a>
                            </li>
                        </ul>
                        <h4>Lifting Gear: </h4>
                        <ul>
                            <li>
                                <a class="link" href="https://markbellslingshot.com/">Mark Bell's Sling Shot</a>
                            </li>
                            <li>
                                <a class="link" href="https://www.sbdapparel.com/">SBD Apparel</a>
                            </li>
                            <li>
                                <a class="link" href="https://a7intl.com/">A7</a>
                            </li>
                        </ul>
                        <h4>Recommended Supplements: </h4>
                        <ul>
                            <li>
                                <a class="link" href="https://jymsupplementscience.com/">JYM Supplement Science</a>
                            </li>
                            <li>
                                <a class="link" href="https://officialxtend.com/">XTEND</a>
                            </li>
                            <li>
                                <a class="link" href="https://www.alaninu.com/">Alani Nu</a>
                            </li>
                            <li>
                                <a class="link" href="https://pescience.com/">PE Science</a>
                            </li>
                        </ul>
                    </div>

                </div>


            </div>
            <div class="dl-content">
                <p id="dl-text"><em>Download free beginner training program:</em></p>
                <a href="http://www.canditotraininghq.com/app/download/916024204/Candito+6+Week+Program.xlsx" download><button type="button" class="btn btn-dark">Click Here</button></a>
            </div>
        </div>

    </div>
</div>