body {
    font-family: 'Quicksand', sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

/* Source: https://startbootstrap.com/snippets/full-slider/ */
.carousel-item {
    height: 80vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Navbar hamburger icon */
.navbar.navbar-8 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger4.svg?color=1729B0');
}


.contact-title, .resources-title, .log-title{
    text-align: center;
    margin-top: 5vh;
    text-transform: uppercase;
}

.contact-form form {
    margin-top: 50px;
}

.form-control {
    width: 50%;
    margin: 0 auto;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: black;
    font-size: 18px;
    margin-bottom: 16px;
}

#contact-form input {
    height: 45px;
}

form .submit {
    background-color: gray;
    border-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

#start-btn, a:visited, a:hover{
    text-decoration: none;
    color: black;
}

.resources-content {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.resources-links{
    overflow-y : auto;
    padding: 20px;
    margin-left: 40px;
    min-height: 450px;
}

a.link {
    text-decoration: none;
    color: gray;
}

a.link:hover {
    color: black;
}

.scrollbar {
    margin-left: 30px;
	float: left;
	background-color: #F5F5F5;
	overflow-y: scroll;
    margin-bottom: 25px;
    border: solid darkgray 1px;
}

#links-scroll::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.info-container {
    height: 400px;
	width: 40%;
    display: flex;
    flex-direction: column;
}

.dl-content {
    margin-left: 30px;
}

#dl-text {
    font-size: 20px;
}

.log-container {
    text-align: center;
    margin: 0 auto;
    width: 70%;
}

.log-input {
    border: solid lightgray 1px;
    padding: 2%;
}